<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>ADD A NEW EMPLOYEE</title>
</head>
<body>
<h1>ADD A NEW EMPLOYEE</h1>
<form th:action="@{addnewemployee}" th:object="${employee}" method='POST'>
    <div class="form-group">
        <label for="username">Employee name </label>
        <input type="text" id="username" class="form-control" th:field="*{username}" />
    </div>
    
    <div class="form-group">
        <select th:field="*{role}">
            <option th:value="1"> Manager</option>
            <option th:value="2"> Customer Service</option>
        </select>
    </div>
    <div class="form-group">
        <label for="pwd">password </label>
        <input type="password" id="pwd" class="form-control" th:field="*{encryptedPassword}" />
    </div>
    <div>
        <br>
        <center><button class="btn btn-lg btn-primary btn-signin" type="submit">submit</button></center>
        <br>
    </div>
    <div >
        <center>
            <a th:href="@{employees}">Cancel</a>
        </center>

    </div>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>