<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Confirm Task Deletion</title>
</head>
<body>
<h1> Are you sure you want to disable this task?</h1>
<h1 th:text="${task.getName()}"></h1>
<form th:action="@{disabletask}" method='POST'>
    <input type="hidden" th:value="${task.getId()}" name="id" />
    <button>disable</button>
</form>
<a th:href="@{edittasks}">Cancel</a>
</body>
</html>