<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="../main.css">
	<style>
		.halfpage{
			margin-left: 20%;
			max-width: 50%;
			min-width: 50%;
			align-self: center;
		}
	</style>
	<title>MANAGER DASHBOARD</title>
	</head>
<body>
<a href="/logout" class="btn btn-outline-dark" style="margin:2%">Logout</a>
<div class="halfpage" th:align="center">
	<h2 th:align="center"> MANAGER DASHBOARD</h2>
	<br> <br>
	<form th:action="@{manager/completions}" method="POST">
		<label th:for="startDate">FROM:</label>
		<input th:id="startDate" id="startDate" th:name="startDate" type="date"/>
		<label th:for="endDate">TO:</label>
		<input th:id="endDate" th:name="endDate" type="date" min='2000-01-01'/>
		<br> <br>
		<button type="submit" class="btn btn-secondary btn-block">View completions</button>
	</form>
	<br>
	<form th:action="@{viewtasks}" method="get">
		<button type="submit" class="btn btn-secondary btn-block">View tasks</button>
	</form>

	<form th:action="@{manager/edittasks}" method="get">
		<button type="submit" class="btn btn-secondary btn-block">Edit tasks</button>
	</form>

	<form th:action="@{manager/employees}" method="get">
		<button type="submit" class="btn btn-secondary btn-block">Edit employees</button>
	</form>

</div>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }
    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("startDate").setAttribute("max", today);
    document.getElementById("endDate").setAttribute("max", today);
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>