<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>MANAGER</title>
</head>

<body>

<div>
	<a href="/logout">Logout</a>
	<form th:action="@{viewtasks}" method="get">
		<button type="submit">View tasks</button>
	</form>

	<form th:action="@{manager/edittasks}" method="get">
		<button type="submit">Edit tasks</button>
	</form>

	<form th:action="@{manager/employees}" method="get">
		<button type="submit">Edit employees</button>
	</form>

	<form th:action="@{manager/completions}" method="POST">
		<label th:for="startDate">FROM:</label>
		<input th:id="startDate" id="startDate" th:name="startDate" type="date"/>

		<label th:for="endDate">TO:</label>
		<input th:id="endDate" th:name="endDate" type="date" min='2000-01-01'/>

		<button type="submit">View completions</button>
	</form>

</div>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }
    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("startDate").setAttribute("max", today);
    document.getElementById("endDate").setAttribute("max", today);
</script>
</body>

</html>