<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>ADD A NEW TASK</title>
</head>
<body>
    <h1>ADD A NEW TASK</h1>
    <form th:action="@{confirmnewtask}" th:object="${task}" method='POST'>
        <div class="form-group">
            <label for="name">Task name </label>
            <input type="text" id="name" class="form-control" th:field="*{name}" />
        </div>

        <div class="form-group">
            <label for="description">Task description </label>
            <input type="text" id="description" class="form-control" th:field="*{description}" />
        </div>
        <div class="form-group">
            <label>Task type </label>
            <input type="radio" class="form-control" th:value="1" th:field="*{type}" /><p>periodical</p>
            <input type="radio" class="form-control" th:value="2" th:field="*{type}" /><p>frequent</p>
        </div>

        <div class="form-group">
            <select th:field="*{sequence}">
                <option th:each="i : ${#numbers.sequence(0, 23)}" th:value="${i}" th:text="${i}">
                </option>
                <option th:value="24"> once a day</option>
                <option th:value="48"> every other day</option>
                <option th:value="168"> once a week</option>
            </select>
        </div>

        <div>
            <br>
            <center><button class="btn btn-lg btn-primary btn-signin" type="submit">next</button></center>
            <br>
        </div>
        <div >
            <center>
                <a th:href="@{/admin/dashboard}">Cancel</a>
            </center>

        </div>
    </form>
</body>
</html>