<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="charset=UTF-8" />
    <title>Employees</title>
</head>
<body>
<div>
    <h2 align="center">EMPLOYEES</h2>
    <br>
    <table>
        <tr>
            <th>NAME</th>
            <th></th>
        </tr>
        <th:block th:each="employee : ${employeeList}">
            <tr>

                <td th:text="${employee.getUsername()}" th:name="username"></td>
                <td>
                    <form th:align="right" th:action="@{editEmployee}" th:object="${employee}" method="post">
                        <input type="hidden" th:value="*{id}" name="id" />
                        <input type="hidden" th:value="*{username}" name="username" />
                        <input type="hidden" th:value="*{role}" name="role" />
                        <button type="submit" class="btn btn-secondary">EDIT/DELETE EMPLOYEE</button>
                    </form>
                </td>

            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
</body>
</html>