<html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>MANAGER</title>
</head>

<body>

<div>
	<form th:action="@{viewtasks}" method="get">
		<button type="submit">View tasks</button>
	</form>

	<form th:action="@{edittasks}" method="get">
		<button type="submit">Edit tasks</button>
	</form>

	<form th:action="@{employees}" method="get">
		<button type="submit">Edit employees</button>
	</form>

	<form th:action="@{completions}" method="POST">
		<label th:for="startDate">FROM:</label>
		<input th:id="startDate" id="startDate" th:name="startDate" type="date"/>

		<label th:for="endDate">TO:</label>
		<input th:id="endDate" th:name="endDate" type="date" min='2000-01-01'/>

		<button type="submit">View completions</button>
	</form>

</div>

</body>

</html>